$blue: #2c77b0;
$blue-box-shadow: rgba(44, 119, 176, 0.3);
$opaque-white: rgba(255, 255, 255, 0.95);
$lightgrey: #fcfcfc;

input[type='checkbox'] {
  margin-right: 12px;
}

.select {
  width: 100%;
  position: relative;

  span.arrow {
    &:after {
      pointer-events: all;
      content: '';
      position: absolute;
      top: 42%;
      right: 12px;
      cursor: pointer;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid lightgrey;
      z-index: 9999;
    }
  }

  input {
    width: 100%;
    padding: 5px 15px;
    border: solid $blue 1px;
    border-radius: 5px;
    box-shadow: 0 0 4px $blue-box-shadow inset;
    font-size: 1.1em !important;
    position: relative;
    color: darkgrey !important;

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: solid lighten($blue, 40) 1px;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      box-shadow: 0 0 4px $blue-box-shadow inset,
                  0 0 6px $blue-box-shadow;
      outline: none;
    }
  }

  .option-box {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    border: solid $blue 1px;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-height: 250px;
    overflow-y: scroll;
    background: $opaque-white;

    a {
      text-decoration: none;
      color: darkgrey;
      width: 100%;
      display: block;
      padding: 8px 15px;
      border-bottom: solid lighten($blue, 40) 1px;

      &:hover {
        cursor: pointer !important;;
        background: lighten($lightgrey, 16);
      }

      &:last-child {
        border-bottom: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &.open {
      display: block;
    }
  }
}

.pad-left {
  margin-left: 10px;
}

.my-row {
  .form-group {
    width: 80%;
    display: inline-block;
  }
}

div.error {
  padding: 5px 10px;
  color: red;
  font-size: 0.9em;
}
