$blue: #2c77b0;

@-webkit-keyframes slideDown {
  0%   { -webkit-transform: translateY(-50px); }
  100% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes slideDown {
  0%   { -moz-transform: translateY(-50px); }
  100% { -moz-transform: translateY(0px); }
}

@-webkit-keyframes slideUp {
  0%   { -webkit-transform: translateY(0px); }
  100% { -webkit-transform: translateY(-50px); }
}

@-moz-keyframes slideUp {
  0%   { -moz-transform: translateY(0px);   }
  100% { -moz-transform: translateY(-50px); }
}

.select {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 5px 15px;
    border: solid $blue 1px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(44, 119, 176, 0.3) inset;
    font-size: 1.2em !important;
    position: relative;
    color: darkgrey !important;
    background: url("../images/down_arrow.png") no-repeat 98% 50%;

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: solid lighten($blue, 40) 1px;
    }

    &.select-face.loading {
      background: url("../images/loading_small.gif") no-repeat 90% 50%;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      box-shadow: 0 0 4px rgba(44, 119, 176, 0.3) inset,
                  0 0 6px rgba(44, 119, 176, 0.4);
      outline: none;
    }
  }

  .option-box {
    display: none;
    // -moz-transition: opacity 0.3s ease-in-out;
    // -o-transition: opacity 0.3s ease-in-out;
    // -webkit-transition: opacity 0.3s ease-in-out;
    // transition: opacity 0.3s ease-in-out;
    position: absolute;
    left: 0;
    width: 100%;
    border: solid $blue 1px;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-height: 250px;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.95);
    // -webkit-transform: translateY(-50px);
    // -moz-transform: translateY(-50px);

    a {
      text-decoration: none;
      color: darkgrey;
      width: 100%;
      display: block;
      padding: 8px 15px;
      border-bottom: solid lighten($blue, 40) 1px;

      &:hover {
        background: lighten(lightgrey, 16);
      }

      &:last-child {
        border-bottom: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &.open {
      display: block;
      // opacity: 1;
      // -moz-transition: opacity 0.3s ease-in-out;
      // -o-transition: opacity 0.3s ease-in-out;
      // -webkit-transition: opacity 0.3s ease-in-out;
      // transition: opacity 0.3s ease-in-out;
      // -webkit-transform: translateY(-50px);
      // -webkit-animation: slideDown 0.5s 0.1s 1 ease forwards;
      // -moz-transform:    translateY(-50px);
      // -moz-animation:    slideDown 0.5s 0.1s 1 ease forwards;
    }
  }
}

.pad-left {
  margin-left: 10px;
}

.my-row {
  .form-group {
    width: 80%;
    display: inline-block;
  }
}
